.grid {
  overflow: auto;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  width: 100%;
}

.track {
  border-radius: 1.5rem;
  box-shadow: 0 0.25rem 0.25rem var(--grey-700);
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  width: fit-content;
}
.track h3 {
  display: grid;
  min-width: 8ch;
  place-items: center;
}

.track > * {
  background: #ffffff44;
  border-radius: 1rem;
  padding: 0.5rem;
}

.gagCell {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  justify-content: center;
  width: 21ch;
}
.gagCell h4 { line-height: 1; }
.gagCell div {
  display: flex;
  gap: 1ch;
}
.organicText { color: var(--green-500); }
